
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

{% block content %}
    <div class="container">

      <form class="form-signin" role="form" action= {% url 'appopinion:signin' %} method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Submit" />
      </form>

    </div> <!-- /container -->
{% endblock %}

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
