{% extends 'appopinion/base.html' %}

{% block content%}
<div class="container">
    <h2 class="form-signin-heading">{{ user.username }}'s Profile <a class='btn-sm' href='edit/'>Edit</a></h2>

    <p class="lead">{{ profile.motto }}</p>

    <h3>Liked Topics:</h3>

   {% for topic in liked_topics %}
  	<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          
          <div class="caption">
            <a href="../topic_id={{topic.id }}">
                <h3>{{ topic.title |truncatewords:10}}</h3>
            </a>
            <p> {{ topic.content|truncatewords:20 }}</p>
            
          </div>
        </div>
  	</div>
 	
    {% endfor %}
</div>

{% endblock %}
